body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
.hire-me{
    text-decoration: none;
    color: white;
    border: 2px solid orange;
    border-radius: 10px;
    background: linear-gradient(lightsalmon,tomato);
    padding: 10px 40px;
}
.first-section{
    width: 50%;
    padding-left: 80px;
}
.first-section img{
    width: 80%;
}
.section-wrap{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
   

}
.second-section-wrap{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    

}
.flexible-container{
    display: flex;
    margin-bottom: 300px;
}
.experiance-item{
    width: 40%;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
 
    
}
.experiance{
    
   
    display: flex;
    margin-bottom: 100px;
   
}
.exp{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    padding-left: 80px;
}
footer p{
    text-align: center;
    margin-bottom: 10px;
}
#baby-web{
    border-left: 8px solid;
    border-image: linear-gradient( blue, cyan);
    border-image-slice: 1;

}
#full-web{
    border-left: 8px solid;
    border-image: linear-gradient(  lightsalmon, tomato);
    border-image-slice: 1;

}
